//defining Main Window theme Color variable
* {
   -fx-mainWindowBackgroundColor: #323232;
   -fx-WhiteColor: white;
}

.root{
    -fx-background-color: -fx-mainWindowBackgroundColor;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}